.bgimage{
    background-image: url(./hotel\ taj\ front\ place.jpg);
    background-position: 0%;
}
body{
    background-color: rgb(244, 237, 237);
    align-content: stretch;
    margin: 0;
    padding: 0;
    gap: 0%;
}


#header{
    background-color: black;
    margin-bottom: 0%;
}
#title{
    background-image: url(./taj\ mahal.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 0%;
}
#features{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    align-content: center;
    justify-content: center;
}
.heading{
    text-align: center;
}
#cities{
    size-adjust: 2rem;
    justify-content: left;
    display: inline-block;
    margin-left: 45%;
    margin-top: 1rem;
    align-content: center;
    
}
.date{
    
    
    display: block;
}
.hotels{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.mumbai-title{
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(2, 6, 13);
    background-image: url(./md.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 0%;
}
.Delhi-title{
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(2, 6, 13);
    background-image: url(./red\ fort.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 0%;    
}
.hyderabad-title{
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(2, 6, 13);
    background-image: url(./CharminarIndia-1600x900.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 0%;
}
.banglore-title{
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(2, 6, 13);
    background-image: url(./banglore\ vidhan\ sabha.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 0%;
}
.footer{
    background-color: black;
    color: rgba(232, 232, 245, 0.86);
}
.featurette-divider{
    box-sizing: border-box;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
    margin: 5rem 0;
}

